.footer__copyright {
    padding-top: 25px;
    padding-left: 19px;
    box-sizing: border-box;
    margin: auto;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    text-align: center;
    color: #545454;
    
  }
 